@charset "utf-8";
html, body{width: 100%; height: 100%; margin: 0; padding: 0;}
#content{ position: relative; width: 100%; height: 100%; margin: 0; padding: 0;}

#jquery-cycle {
	position: absolute;
    width: 70%; height: 75%;
    background: #ebebeb;
    border-radius: 25px;
    top: 18%; left: 50%;
    margin-left: -35%;
    color: #81817A;
}

#jquery-cycle nav{ width: 100%; }
p{ position: absolute; width: 125px; height: 125px; margin: 0; padding: 0; background: #fff; border-radius: 50%;}
p.page1{ top: 80px; left: 200px; }
p.page2{ top: 80px; left: 400px; }
p.page3{ top: 80px; left: 600px; }
p.page4{ top: 280px; left: 200px; }
p.page5{ top: 280px; left: 400px; }
p.page6{ top: 280px; left: 600px; }
#jquery-cycle-prev{ position: absolute; top: 55%; left: 10%;}
#jquery-cycle-next{ position: absolute; top: 55%; right: 10%;}

#prev{
	border-top: 20px solid transparent;
	border-right: 30px solid #ADB0D3;
	border-bottom: 20px solid transparent;
}

#next{
	border-top: 20px solid transparent;
	border-left: 30px solid #ADB0D3;
	border-bottom: 20px solid transparent;	
}
