@charset "utf-8";
html, body{width: 100%; height: 100%; margin: 0; padding: 0;}
#content{ position: relative; width: 100%; height: 100%; margin: 0; padding: 0;}

#plugin-slide {
	position: absolute;
    width: 70%; height: 75%;
    background: #ebebeb;
    border-radius: 25px;
    top: 18%; left: 50%;
    margin-left: -35%;
    color: #81817A;
}

#plugin-slide nav{ width: 100%; }

.page a{ 
	position: relative; width: 125px; height: 125px; margin: 40px;
	border-radius: 50%; text-align: center; float: left; cursor: pointer;
	color: rgba(255,255,255,0);
}
.page a:nth-of-type(2), .page a:nth-of-type(4n+1){margin-left: 210px;}
.page a:nth-of-type(2), .page a:nth-of-type(3), .page a:nth-of-type(4){margin-top: 90px;}
.page a:nth-of-type(5){clear: both;}
.page a:before{ position: absolute; top: -25px; left: 40px; color: #000; }

.page a:nth-of-type(1){display: none;}

.page a:nth-of-type(2):before{ content: 'page.1'; }
.page a:nth-of-type(3):before{ content: 'page.2'; }
.page a:nth-of-type(4):before{ content: 'page.3'; }
.page a:nth-of-type(5):before{ content: 'page.4'; }
.page a:nth-of-type(6):before{ content: 'page.5'; }
.page a:nth-of-type(7):before{ content: 'page.6'; }

.page a:nth-of-type(2) { background: url(/assets/search.png) no-repeat center center #fff;  background-size: 60%; }
.page a:nth-of-type(3) { background: url(/assets/subject.png) no-repeat center center #fff;  background-size: 60%; }
.page a:nth-of-type(4) { background: url(/assets/option.png) no-repeat center center #fff;  background-size: 60%; }
.page a:nth-of-type(5) { background: url(/assets/confirm.png) no-repeat center center #fff;  background-size: 60%; }
.page a:nth-of-type(6) { background: url(/assets/mes.png) no-repeat center center #fff;  background-size: 60%; }
.page a:nth-of-type(7) { background: url(/assets/moneyicon.png) no-repeat center center #fff;  background-size: 60%; }

.pagecontents .page{position: relative; left: 50%; margin-left: -25%;}

.pagecontents .page a{
	position: relative; width: 60px; height: 60px; margin: 20px 10px 0 10px;
	border-radius: 50%; text-align: center; float: left; cursor: pointer;
	color: rgba(255,255,255,0);
}

.pagecontents .page a:nth-of-type(2):before{ display: none; }
.pagecontents .page a:nth-of-type(3):before{ display: none; }
.pagecontents .page a:nth-of-type(4):before{ display: none; }
.pagecontents .page a:nth-of-type(5):before{ display: none; }
.pagecontents .page a:nth-of-type(6):before{ display: none; }
.pagecontents .page a:nth-of-type(7):before{ display: none; }

.pagecontents .page .pager4{clear: right;}

.text{position: absolute; width: 125px; height: 125px; left: 0px; padding-top: 50px; opacity: 0; }

#jquery-cycle-prev{ position: absolute; top: 55%; left: 10%;}
#jquery-cycle-next{ position: absolute; top: 55%; right: 10%;}

#prev{
	border-top: 20px solid transparent;
	border-right: 30px solid #ADB0D3;
	border-bottom: 20px solid transparent;
}

#next{
	border-top: 20px solid transparent;
	border-left: 30px solid #ADB0D3;
	border-bottom: 20px solid transparent;	
}
