@charset "utf-8";
@font-face{
	font-family:'MyFont';
	src: url('../font/font.otf') format('opentype');
}
html, body{font-family: MyFont;}
html, body{width: auto; height: 1000px; overflow-x: hidden;}
.clr{clear: both;}
.content{position: relative; width: 100%;}
#form{margin-left: 450px; margin-top: 150px;}

.button{
	position: relative;
	image-url("button.png")
	background: url(../images/button.png) no-repeat left top;
	width: 65px;
	height: 65px;
	border: none;
	float: left;
}

.zip{
	width: 230px;
	height: 1px;
	border: #33729F solid 5px;
	border-radius: 20px;
	float: left;
	color: #33729F;
	font-size: 30px;
	padding: 30px;
	font-weight: bold;
}

input{
	position: relative;
	top: -20px;
	text-align: center;
	border: none;
	font-size: 25px;
	color: #33729F;
	font-weight: bold;
	float: left;
}

.hi{
	position: relative;
	float: left;
	left: -5px;
	top: -20px;
}

#zip{width: 365px; height: 70px;}
.introjs-tooltip {width: 400px; border-radius: 50%; font-size: 15px;}
.introjs-tooltip:before{
	position: absolute;
	content: '';
	top: 50px; left: 50%;
	margin-left: -30px;
	background: url(../images/cyellow.png) no-repeat;
	width: 62px; height: 79px;
}
.introjs-tooltip:after{
	border: 5px solid white;
	content:'';
	position: absolute;
	bottom: -10px; left: 50%;
	margin-left: -5px;
	border-top-color:white;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-left-color:transparent;
}
.introjs-bullets, .introjs-tooltipbuttons{display: none;}
.introjs-arrow.left{display: none;}

.border{
	width: 50px;
	margin-top: 30px;
}
.set{
	position: relative;
	top: -100px; left: 300px;
}

.maru{
	position: relative;
	width: 125px;
	height: 125px;
	border: #33729F solid 5px;
	border-radius: 50%;
	float: left;
	margin-left: -100px;
	opacity: 0;
	z-index: -100;
	margin-top: -35px;
}

/* top */

#holder {
    height: 480px;
    left: 70.3%;
    position: absolute;
    top: 49.8%;
    width: 640px;
}
#cycle{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #fff;
	position: relative;
	margin-top: -0.5%;
	left: 73.5%;
	z-index: 10;
}

/* menu */
.con{
	position: relative;
	width: 125px;
	height: 125px;
	background: url(../images/con.png) no-repeat left top;
	-webkit-transition:  0.5s;
	-moz-transition:  0.5s;
	-o-transition:  0.5s;
	-ms-transition:  0.5s;
	transition:  0.5s;	
	z-index: 100;
}

/* ↓変更 */

.man, .woman{position: relative; width: 62px; height: 125px; opacity: 0; float: left; background: #000; }
.man{background: url(../images/man.png) no-repeat center center; top: -30px; left: 130px;}
.woman{background: url(../images/woman.png) no-repeat center center; top: -30px; left: 130px;}

.con-2{ background:url("../images/con-2.png") top left no-repeat;
	position: absolute;
	-webkit-transition:  0.5s;
	-moz-transition:  0.5s;
	-o-transition:  0.5s;
	-ms-transition:  0.5s;
	transition:  0.5s;	
	opacity:0;
}

.p{ width:86px; height:68px; background-position:-10px -735px; top: -45px; left: 65px; }
.pp{ width:41px; height:97px; background-position:-10px -286px; top: 15px; left: 125px; }
.r{ width:86px; height:68px; background-position:-10px -579px; top: 100px; left: 65px;}
.y{ width:86px; height:68px; background-position:-10px -657px; top: 100px; left: -30px; }
.g{ width:44px; height:97px; background-position:-10px -393px; top: 15px; left: -45px; }
.b{ width:86px; height:69px; background-position:-10px -500px; top: -45px; left: -30px; }


/* ↑変更 */

/* /3 */

#cover{
	margin-top: -150px;
	margin-left: 300px;
	width: 765px;
	height: 50%;
	opacity: 0;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
}

#cover > a > img{
	position: relative;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
	margin-top: 30px;
	margin-left: 40px;
	cursor: pointer;
	z-index: 100;
}

.cover{
	position: absolute;
	width: 400px;
	height: 300px;
	border-radius: 80px;
	background: #ececec;
	right: 58%;
	margin-right: -170px;
	display: none;
}

ul#prof{
	position: absolute;
	list-style: none;
	top: -15px;
	width: 360px;
	height: 300px;
	border-radius: 80px;
	padding-left: -200px;
}

ul#prof > li{position: absolute;border-radius: 0;font-weight: 900;}
ul#prof > li.img{top: 30px; left: 50px;}
ul#prof > li.mail{ width: 29px; height: 38px; background: url(../images/mail.png) no-repeat;top: 93px; left: 125px;}
ul#prof > li.name{
	font-size: 40px;
	width: 300px;
	top: 20px;
	right: 20%;
	margin-right: -150px;
	
}
ul#prof > li.univ{
	width: 300px;
	font-size: 15px;
	top: 90px;
	right: 20%;
	margin-right: -150px;
}

ul#prof > li.sub:before{content: '授業可能科目: ';float: left;}
ul#prof > li.station:before{content: '最寄り駅: ';float: left;margin-right: 5px;}
ul#prof > li.car:before{content: '車: ';float: left;margin-right: 5px;}
ul#prof > li.money:before{content: '希望時給: ';float: left;margin-right: 5px;}

li.sub, li.station, li.car, li.money, li.message{
	width: 370px;
	top: 145px;
	right: 50%;
	margin-right: -210px;
}

ul#prof > li.station, ul#prof > li.car{top: 170px;}
ul#prof > li.car{right: 0%;}
ul#prof > li.money{top: 195px;}
ul#prof > li.message{top: 220px; text-align: center; right: 55%;}

ul#prof > li.sub > div{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 50px;
	float: left;
}

ul#prof > li.sub > div:nth-of-type(1){margin-left: 10px;}
ul#prof > li.sub > div:after{position: absolute; margin-left: 23px;}
ul#prof > li.sub > .other{background: #CD7DC4;}
ul#prof > li.sub > .other:after{content: 'その他';}
ul#prof > li.sub > .english{background: #FF6FCF;}
ul#prof > li.sub > .english:after{content: '英語';}
ul#prof > li.sub > .japanese{background: #EB3C00;}
ul#prof > li.sub > .japanese:after{content: '国語';}
ul#prof > li.sub > .society{background: #FFD800;}
ul#prof > li.sub > .society:after{content: '社会';}
ul#prof > li.sub > .science{background: #93D87C;}
ul#prof > li.sub > .science:after{content: '理科';}
ul#prof > li.sub > .mathematica{background: #6FC9D8;}
ul#prof > li.sub > .mathematica:after{content: '数学';}

.rate1, .rate2, .rate3{
	position: absolute;
	border-radius: 50%;
	margin-top: 110px; 
	opacity: 0.8;
	float: left;
	width: 70px;
	height: 70px;
	z-index: -100;
}

.rate1:after, .rate2:after, .rate3:after{
	content: '';
	position: absolute;
	width: 68px;
	height: 68px;	
	
}

.rate1{
	background: #7fe35e;
	left: 425px;
	-webkit-animation: 
			anime1-1 2s ease,
			anime1-2a 2s ease;
}

.rate1:after{
	background: url(../images/pencil.png) no-repeat center center;
	top: 0px; left: 5px;
	background-size: 60%;
}

.rate2{
	background: #f9c732;
	left: 525px;
	-webkit-animation: 
			anime1-1 2s ease,
			anime1-2b 2s ease;
}

.rate2:after{
	background: url(../images/goal.png) no-repeat center center;
	top: 0px; left: 0px;
	background-size: 60%;
}

.rate3{
	background: #ff5c57;
	left: 625px;
	-webkit-animation: 
			anime1-1 2s ease,
			anime1-2c 2s ease;
}

.rate3:after{
	background: url(../images/user.png) no-repeat center center;
	top: 0px; left: 2px;
	background-size: 60%;
}

@-webkit-keyframes anime1-1{
	0%{width: 20px;height: 20px; margin-top: 10px;}
	30%{margin-top: 150px;}
	40%{margin-top: 100px;}
	55%{margin-top: 150px;}
	65%{margin-top: 110px;}
	75%{margin-top: 110px;}
	90%{width: 20px; height: 20px;margin-top: 130px;}
	100%{width: 70px; height: 70px;}
}

@-webkit-keyframes anime1-2a{
	0%{left: 420px;}
	30%{left: 420px;}
	100%{left: 425px;}
}

@-webkit-keyframes anime1-2b{
	0%{left: 420px;}
	30%{left: 420px;}
	100%{left: 525px;}
}

@-webkit-keyframes anime1-2c{
	0%{left: 420px;}
	30%{left: 420px;}
	100%{left: 625px;}
}

.prate1, .prate2, .prate3{
	position: absolute;
	font-size: 25px;
	float: left;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
}

.prate1_1, .prate2_1, .prate3_1{
	position: absolute;
	width: 100px;
	font-size: 15px;
	float: left;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
}

.prate1{color: #7fe35e; margin-top: -30px; margin-left: 445px;}
.prate2{color: #f9c732; margin-top: -30px; margin-left: 545px;}
.prate3{color: #ff5c57; margin-top: -30px; margin-left: 645px;}

.prate1_1{color: #7fe35e; margin-top: 90px; margin-left: 440px;}
.prate2_1{color: #f9c732; margin-top: 90px; margin-left: 520px;}
.prate3_1{color: #ff5c57; margin-top: 90px; margin-left: 640px;}

@-webkit-keyframes fade{
	0%{opacity: 0;}
	98%{opacity: 0;}
	100%{opacity: 1;}
}

.rate1 > img, .rate2 > img, .rate3 > img{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;	
}

@media screen and (max-width:1024px) {
html, body{overflow-x: hidden;}
.menu{left: 50px; margin-left: -150px;}
#form{ margin-top: 200px; margin-left: 200px;}
.button{ margin-left: 5px; margin-right: 15px; margin-top: 3px;}
.introjs-tooltip{margin-top: -30px;}
.zip{margin-left: -20px; margin-top: 0px;width: 230px; }
input{width: 80px; height: 40px; top: -30px; margin-left: 0px;}
.man, .woman{left: 150px;}
.maru{top: 0px; left: 20px; margin-bottom: 0px;}
#cover{width: 780px; margin-top: -150px; margin-left: 120px;}
#cover > a > img{margin-left: 40px;}
}