.cust-left{float: left;}
.cust-center{left: 50%;}
.cust-mt10{margin-top: 10px;}
.cust-mt20{margin-top: 20px;}
.cust-mt30{margin-top: 30px;}
.cust-mt40{margin-top: 40px;}
.cust-mt50{margin-top: 50px;}
.cust-h180{height: 180px;}

/*
.eng{color: #FF6FCF;}
.math{color: #6fc9d8;}
.jp{color: #ff5c37;}
.sci{color: #7fe35e;}
.soci{color: #f9c732;}
.other{color: #a35ecd;}
*/
