.menu{ background:url("../images/menu.png") top left no-repeat; }

.green{ width:67px; height:148px; background-position:-10px -10px;

 }
.perple{ width:67px; height:148px; background-position:-10px -168px; }
.yellow{ width:131px; height:119px; background-position:-10px -326px; }
.red{ width:127px; height:113px; background-position:-10px -455px; }
.blue{ width:131px; height:102px; background-position:-10px -578px; }
.pink{ width:138px; height:102px; background-position:-10px -690px; }




