
li{
	list-style: none;
	width: 300px;
	height: 330px;
	position: relative;
	margin: 25px 10px 5px 0;
	float: left;
	text-align: center;
}

li:first-of-type, li:nth-of-type(3n+1){
	margin-left: 16%;
}

li img{
	width: 70%;
	height: 55%;
}

li a:link{
	color: #ff7a37;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 900;
}

li .money{
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 100;
}

.menu{
	left: 50%;
	margin-left: -140px;
}